In [1]:
import pandas as pd
from path_prefix import PATH_PREFIX

In [2]:
df = pd.read_csv(f'{PATH_PREFIX}/data/osstate/extracted/states_2022-04-04-00.csv.gz', compression='gzip')

In [3]:
print('Number of rows: ', df.shape[0])
print('Columns: ', df.columns)

Number of rows:  2040066
Columns:  Index(['time', 'icao24', 'lat', 'lon', 'velocity', 'heading', 'vertrate',
       'callsign', 'onground', 'alert', 'spi', 'squawk', 'baroaltitude',
       'geoaltitude', 'lastposupdate', 'lastcontact'],
      dtype='object')

In [4]:
df.head()

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
0,1649030400,7c02dc,-37.662643,145.395053,50.857154,38.840837,5.20192,AUM,False,False,False,4001.0,1615.44,1676.40,1.649030e+09,1.649030e+09
1,1649030400,4bcda5,51.315422,13.289487,212.396729,305.035400,NaN,SXS8VH,False,False,False,3212.0,12192.00,11818.62,1.649030e+09,1.649030e+09
2,1649030400,4bcc67,52.009878,10.625668,222.004883,123.469849,NaN,THY4RK,False,False,False,7601.0,7978.14,7795.26,1.649030e+09,1.649030e+09
3,1649030400,4bb467,51.396189,11.958468,136.096680,240.820312,NaN,MNB9346,False,False,False,3606.0,2628.90,2583.18,1.649030e+09,1.649030e+09
4,1649030400,4520c4,51.117604,6.894822,229.352295,258.612671,NaN,BCS55G,False,False,False,1000.0,10195.56,9989.82,1.649030e+09,1.649030e+09